/* PRE CONF */

* {
    margin: 0;
}

html {
    font-family: "Noto Sans", sans-serif;
}

a {
    text-decoration: none;
}

body {
    background-color: #101a23;
}

/* CONSTANTES */
.contenedor {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    color: white;
    padding: 10px 20px;
    display: inline-block;
    background-color: #4098ea;
    border-radius: 10px;
}

/* NAV */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    border-bottom: 1px solid #052747;
    div {
        display: flex;
        a {
            color: white;
            padding: 10px 20px;
            display: inline-block;
            /* &:last-child {
                background-color: #4098ea;
                border-radius: 10px;
            } */
        }
    }
}

#logo {
    color: white;
    font-weight: 600;
    font-size: 18px;
    i {
        margin-right: 10px;
    }
}

/* HEADER */
header {
    padding-top: 30px;
    padding-bottom: 30px;
    .imgContenedor {
        height: 60vh;
        position: relative;
        border-radius: 20px;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: .5;
            /* border-radius: 20px; */
        }
        div {
            position: absolute;
            bottom: 40px;
            left: 40px;
            right: 40px;
            h1 {
                color: white;
                margin-bottom: 20px;
            }

            p {
                color: rgba(255,255,255, .7);
                margin-bottom: 50px;
            }
        }
    }
}
