/* PRE CONF */

* {
    margin: 0;
}

html {
    font-family: "Noto Sans", sans-serif;
}

a {
    text-decoration: none;
}

body {
    background-color: #101a23;
}

/* CONSTANTES */
.contenedor {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    color: white;
    padding: 10px 20px;
    display: inline-block;
    background-color: #4098ea;
    border-radius: 10px;
    transition: all .3s;
    &:hover {
        background-color: #094e90;
        transform: scale(1.05);
        transition: all 0.3s;
    }
}

.titulo-n2 {
    color: white;
}

/* NAV */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    border-bottom: 1px solid #052747;
    div {
        display: flex;
        a {
            color: white;
            padding: 10px 20px;
            display: inline-block;
        }
    }
}

#logo {
    color: white;
    font-weight: 600;
    font-size: 18px;
    i {
        margin-right: 10px;
    }
}

/* HEADER */
header {
    padding-top: 30px;
    padding-bottom: 30px;
    .imgContenedor {
        height: 60vh;
        position: relative;
        border-radius: 20px;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: .5;
        }
        div {
            position: absolute;
            bottom: 40px;
            left: 40px;
            right: 40px;
            h1 {
                color: white;
                margin-bottom: 20px;
                font-size: 52px;
            }

            p {
                color: rgba(255,255,255, .7);
                margin-bottom: 50px;
            }
        }
    }
}

/* Proyectos */
.proyectos {
    padding: 30px 0;
    div {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        article {
            display: flex;
            column-gap: 20px;
            aside {
                width: 50%;
                img {
                    width: 100%;
                    border-radius: 10px;
                }
                h3 {
                    color: white;
                    margin-top: 20px;
                    margin-bottom: 10px;
                }
                p {
                    color: #7f9bb6;
                    line-height: 1.9;
                    margin-bottom: 30px; 
                }
            }
        }
    }
}

/* About */
.about {
    padding: 30px 0;
    div {
        p {
            color: white;
            line-height: 1.9;
            margin-top: 30px;
        }
    }
}

/* Skills */
.skills {
    padding: 30px 0;
    div {
        h2 {
            margin-bottom: 30px;
        }
        div {
            display: flex;
            gap: 20px;
            span {
                display: inline-block;
                background-color: #213648;
                color: white;
                padding: 10px 20px;
                border-radius: 10px;
            }
        }
    }
}

/* Contacto */
.contacto {
    padding: 30px 0;
    div {
        form {
            width: 30%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            label {
                color: white;
            }
            input:not(:last-child) {
                width: 100%;
            }
            textarea {
                width: 100%;
            }
        }
    }
}