@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
/*
    BREAKPOINTS EM

    article {
        font-size: 22px;
        span {
            width: 1em; = 22px
        }
    }

    html => 16px
    1em = 16px

    1200PX / 16PX =  75em
    992PX / 16PX = 62em
    768PX / 16PX = 48em
    576PX / 16PX = 36em
    420PX / 16PX = 26.25em
    380PX / 16PX = 23.75em
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
@media only screen and (max-width: 26.25em) {
  html {
    font-size: 50%;
  }
}

body {
  background-color: #121B2D;
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
}

a, span {
  display: inline-block;
}

.contenedor {
  max-width: 120rem;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 75em) {
  .contenedor {
    max-width: 96rem;
  }
}
@media only screen and (max-width: 62em) {
  .contenedor {
    max-width: 72rem;
  }
}
@media only screen and (max-width: 48em) {
  .contenedor {
    max-width: 54rem;
  }
}
@media only screen and (max-width: 36em) {
  .contenedor {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.title-n1 {
  font-size: 3rem;
  color: white;
  font-weight: 600;
}

.title-n2 {
  font-size: 1.8rem;
  color: white;
}

.title-n3 {
  font-size: 2.3rem;
  color: white;
}

.title-n4 {
  font-size: 1.4rem;
  color: #C7D2DD;
  font-weight: 400;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.align-start {
  align-items: flex-start;
}

.destacado {
  background-color: #EBAD0A;
  color: white;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
}
.destacado i {
  margin-right: 0.5rem;
}

.btn {
  font-size: 1.4rem;
  padding: 1rem;
  border-radius: 0.5rem;
}

.btn-verde {
  background-color: #196541;
  color: #8E939C;
}

.btn-celeste {
  background-color: #24CBEE;
  color: #ffffff;
}

.tipo {
  font-size: 1.4rem;
  padding: 0.3rem 1rem;
  border-radius: 1rem;
  font-weight: 600;
}

.graBgNaranja {
  color: white;
  background-image: linear-gradient(to right, #eb8039, #f22d06);
}

.graBgAmarillo {
  color: white;
  background-image: linear-gradient(to right, #EBAF09, #F87715);
}

.bgNormal {
  color: #C7D2DD;
  border: 1px solid #475569;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.gap-3 {
  gap: 3rem;
}

.gap-4 {
  gap: 4rem;
}

.gap-5 {
  gap: 5rem;
}

.gap-6 {
  gap: 6rem;
}

.gap-7 {
  gap: 7rem;
}

.gap-8 {
  gap: 8rem;
}

.gap-9 {
  gap: 9rem;
}

.gap-10 {
  gap: 10rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mt-5 {
  margin-top: 5rem;
}

.mt-6 {
  margin-top: 6rem;
}

.mt-7 {
  margin-top: 7rem;
}

.mt-8 {
  margin-top: 8rem;
}

.mt-9 {
  margin-top: 9rem;
}

.mt-10 {
  margin-top: 10rem;
}

/**/
.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.mb-6 {
  margin-bottom: 6rem;
}

.mb-7 {
  margin-bottom: 7rem;
}

.mb-8 {
  margin-bottom: 8rem;
}

.mb-9 {
  margin-bottom: 9rem;
}

.mb-10 {
  margin-bottom: 10rem;
}

/**/
.ml-1 {
  margin-left: 1rem;
}

.ml-2 {
  margin-left: 2rem;
}

.ml-3 {
  margin-left: 3rem;
}

.ml-4 {
  margin-left: 4rem;
}

.ml-5 {
  margin-left: 5rem;
}

.ml-6 {
  margin-left: 6rem;
}

.ml-7 {
  margin-left: 7rem;
}

.ml-8 {
  margin-left: 8rem;
}

.ml-9 {
  margin-left: 9rem;
}

.ml-10 {
  margin-left: 10rem;
}

/**/
.mr-1 {
  margin-right: 1rem;
}

.mr-2 {
  margin-right: 2rem;
}

.mr-3 {
  margin-right: 3rem;
}

.mr-4 {
  margin-right: 4rem;
}

.mr-5 {
  margin-right: 5rem;
}

.mr-6 {
  margin-right: 6rem;
}

.mr-7 {
  margin-right: 7rem;
}

.mr-8 {
  margin-right: 8rem;
}

.mr-9 {
  margin-right: 9rem;
}

.mr-10 {
  margin-right: 10rem;
}

.pr-1 {
  padding-right: 1rem;
}

.pr-2 {
  padding-right: 2rem;
}

.pr-3 {
  padding-right: 3rem;
}

.pr-4 {
  padding-right: 4rem;
}

.pr-5 {
  padding-right: 5rem;
}

.pr-6 {
  padding-right: 6rem;
}

.pr-7 {
  padding-right: 7rem;
}

.pr-8 {
  padding-right: 8rem;
}

.pr-9 {
  padding-right: 9rem;
}

.pr-10 {
  padding-right: 10rem;
}

.pl-1 {
  padding-left: 1rem;
}

.pl-2 {
  padding-left: 2rem;
}

.pl-3 {
  padding-left: 3rem;
}

.pl-4 {
  padding-left: 4rem;
}

.pl-5 {
  padding-left: 5rem;
}

.pl-6 {
  padding-left: 6rem;
}

.pl-7 {
  padding-left: 7rem;
}

.pl-8 {
  padding-left: 8rem;
}

.pl-9 {
  padding-left: 9rem;
}

.pl-10 {
  padding-left: 10rem;
}

.pt-1 {
  padding-top: 1rem;
}

.pt-2 {
  padding-top: 2rem;
}

.pt-3 {
  padding-top: 3rem;
}

.pt-4 {
  padding-top: 4rem;
}

.pt-5 {
  padding-top: 5rem;
}

.pt-6 {
  padding-top: 6rem;
}

.pt-7 {
  padding-top: 7rem;
}

.pt-8 {
  padding-top: 8rem;
}

.pt-9 {
  padding-top: 9rem;
}

.pt-10 {
  padding-top: 10rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.pb-4 {
  padding-bottom: 4rem;
}

.pb-5 {
  padding-bottom: 5rem;
}

.pb-6 {
  padding-bottom: 6rem;
}

.pb-7 {
  padding-bottom: 7rem;
}

.pb-8 {
  padding-bottom: 8rem;
}

.pb-9 {
  padding-bottom: 9rem;
}

.pb-10 {
  padding-bottom: 10rem;
}

.nav {
  background-color: #1D2739;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.nav.active {
  position: fixed;
  width: 100%;
  z-index: 4;
  top: 0;
}
.nav__contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__contenedor__logo {
  display: flex;
  align-items: center;
}
.nav__contenedor__logo__iconBox {
  background-color: #24CBEE;
  font-size: 2rem;
  color: white;
  padding: 0.5rem;
  border-radius: 1rem;
  display: flex;
  justify-self: center;
  align-items: center;
}
.nav__contenedor__logo__iconBox svg {
  width: 2.2rem;
  height: 2.2rem;
}
.nav__contenedor__logo__text {
  display: flex;
  flex-direction: column;
}
.nav__contenedor__logo__text--marca {
  color: #24CBEE;
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.nav__contenedor__logo__text--descri {
  color: #7E8CA0;
  font-size: 1.2rem;
}
.nav__contenedor__iconMenuBox {
  display: none;
  color: #C7D2DD;
  font-size: 1.8rem;
  border: 0.1rem solid #475569;
  padding: 1rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.3s;
  z-index: 3;
}
@media only screen and (max-width: 62em) {
  .nav__contenedor__iconMenuBox {
    display: block;
  }
}
.nav__contenedor__iconMenuBox:hover {
  background-color: #C7D2DD;
  color: #1D2739;
  transition: all 0.3s;
}
.nav__contenedor__menu {
  display: flex;
}
@media only screen and (max-width: 62em) {
  .nav__contenedor__menu {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.95);
    width: 100%;
    left: -100%;
    top: 0;
    height: 100vh;
    flex-direction: column;
    z-index: 2;
    justify-content: center;
    align-items: center;
    row-gap: 3rem;
    transition: all 0.3s;
  }
  .nav__contenedor__menu.active {
    left: 0;
    transition: all 0.3s;
  }
}
.nav__contenedor__menu--link {
  color: #C7D2DD;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0.8rem 1.5rem;
  margin-right: 3rem;
  border-radius: 0.8rem;
}
@media only screen and (max-width: 62em) {
  .nav__contenedor__menu--link {
    font-size: 2.5rem;
  }
}
.nav__contenedor__menu--link svg {
  width: 1.6rem;
  margin-right: 0.7rem;
}
.nav__contenedor__menu--link.active {
  background-color: #194558;
  color: #23CEEE;
}
.nav__contenedor__user {
  display: flex;
  align-items: center;
}
.nav__contenedor__user__userData {
  display: flex;
  flex-direction: column;
}
.nav__contenedor__user__userData span:nth-child(1) {
  color: white;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.nav__contenedor__user__userData span:last-child {
  color: #7E8CA0;
  font-size: 1.2rem;
  text-align: right;
}
.nav__contenedor__user__sesion svg {
  width: 1.8rem;
  color: rgba(255, 255, 255, 0.6);
}

.header {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.header.active {
  margin-top: 6.2rem;
}
.header__contenedor--title {
  text-align: center;
  color: #24CBEE;
  font-size: 6.2rem;
}
@media only screen and (max-width: 62em) {
  .header__contenedor--title {
    font-size: 4.2rem;
  }
}
@media only screen and (max-width: 36em) {
  .header__contenedor--title {
    font-size: 3.2rem;
  }
}
.header__contenedor--descri {
  text-align: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  color: #7E8CA0;
  font-size: 2.2rem;
  line-height: 3.2rem;
}
@media only screen and (max-width: 62em) {
  .header__contenedor--descri {
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: 36em) {
  .header__contenedor--descri {
    font-size: 1.6rem;
  }
}
.header__contenedor__nav--menu {
  color: #7E8CA0;
  font-size: 1.4rem;
}
.header__contenedor__nav--separador {
  color: #7E8CA0;
  font-size: 1.4rem;
  margin-left: 0.8rem;
  margin-right: 0.8rem;
}
.header__contenedor__nav--producto {
  color: white;
  font-size: 1.4rem;
  font-weight: 600;
}
.header__contenedor__back {
  color: #C7D2DD;
  font-size: 1.4rem;
}
.header__contenedor__back i {
  margin-right: 1rem;
}

.filtros {
  width: calc(30% - 1.5rem);
  border: 1px solid rgba(199, 210, 221, 0.3);
  border-radius: 1rem;
  padding: 2rem;
}
@media only screen and (max-width: 75em) {
  .filtros {
    width: calc(40% - 1.5rem);
  }
}
@media only screen and (max-width: 62em) {
  .filtros {
    width: calc(50% - 1.5rem);
  }
}
@media only screen and (max-width: 48em) {
  .filtros {
    display: none;
  }
}
.filtros__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filtros__head--title {
  display: flex;
  align-items: center;
}
.filtros__head--title svg {
  width: 3rem;
  color: #24CBEE;
  margin-right: 1rem;
}
.filtros__head--canti {
  color: #C7D2DD;
  background-color: rgba(126, 140, 160, 0.3);
  font-size: 1.4rem;
  padding: 0.3rem 1.2rem;
  border-radius: 1rem;
}
.filtros__form__box {
  background-color: #334155;
  border-radius: 0.5rem;
  border: 0.1rem solid #475569;
  display: flex;
  align-items: center;
}
.filtros__form__box label {
  color: #7E8CA0;
  font-size: 1.6rem;
  padding-right: 1rem;
  padding-left: 1rem;
}
.filtros__form__box input {
  font-size: 1.4rem;
  background-color: #334155;
  border: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  outline: 0;
  padding-right: 1rem;
}
.filtros__cat {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.filtros__cat--item {
  background-color: #334155;
  width: calc(50% - 0.5rem);
  color: #C7D2DD;
  font-size: 1.3rem;
  padding: 1.5rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid #475569;
  cursor: pointer;
}
.filtros__cat--item i {
  margin-right: 1rem;
}
.filtros__cat--item.active {
  background-color: #24CBEE;
  color: white;
}
.filtros__prices {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.filtros__prices--item {
  background-color: #334155;
  color: #C7D2DD;
  font-size: 1.3rem;
  padding: 1.5rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid #475569;
  cursor: pointer;
}

.products {
  width: calc(70% - 1.5rem);
}
@media only screen and (max-width: 75em) {
  .products {
    width: calc(60% - 1.5rem);
  }
}
@media only screen and (max-width: 62em) {
  .products {
    width: calc(50% - 1.5rem);
  }
}
@media only screen and (max-width: 48em) {
  .products {
    width: 100%;
  }
}
.products__item {
  width: calc(33.3333333333% - 1.3333333333rem);
  border: 1px solid #475569;
  border-radius: 1rem;
  overflow: hidden;
}
@media only screen and (max-width: 75em) {
  .products__item {
    width: calc(50% - 1rem);
  }
}
@media only screen and (max-width: 62em) {
  .products__item {
    width: 100%;
  }
}
@media only screen and (max-width: 48em) {
  .products__item {
    width: calc(50% - 1rem);
  }
}
@media only screen and (max-width: 36em) {
  .products__item {
    width: 100%;
  }
}
.products__item__imgBox {
  width: 100%;
  height: 20rem;
  position: relative;
}
.products__item__imgBox img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.products__item__imgBox--destacado {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
}
.products__item__info {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
}
.products__item__info span {
  padding: 0.2rem 0.8rem;
  border-radius: 1rem;
}
.products__item__info span:first-child {
  background-color: #334155;
  color: #24CBEE;
}
.products__item__info span:last-child {
  color: #C7D2DD;
  border: 1px solid #475569;
}
.products__item__descri {
  font-size: 1.3rem;
  color: #7E8CA0;
}
.products__item__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.products__item__actions__box {
  display: flex;
  flex-direction: column;
}
.products__item__actions__box--price {
  color: #24CBEE;
  font-size: 2rem;
  font-weight: 600;
}
.products__item__actions__box--stock {
  color: #334155;
  font-size: 1.2rem;
}

.main__filtrosBtnBox {
  font-size: 1.8rem;
  color: #7E8CA0;
  display: none;
  align-items: center;
  background-color: #334155;
  border-radius: 0 2rem 2rem 0;
  padding: 1rem 2rem 1rem 1rem;
  cursor: pointer;
}
@media only screen and (max-width: 48em) {
  .main__filtrosBtnBox {
    display: flex;
    position: fixed;
    z-index: 1;
  }
}
.main__filtrosBtnBox svg {
  width: 3rem;
  color: #24CBEE;
  margin-right: 1rem;
}

/*# sourceMappingURL=estilos.css.map */
