@forward 'header';
@forward 'filtros';
@forward 'productos';

@use '../base/variables' as v;

.main {
    &__filtrosBtnBox {
        font-size: 1.8rem;
        color: v.$gray;
        display: none;
        align-items: center;
        background-color: v.$bg-secondary;
        border-radius: 0 2rem 2rem 0;
        padding: 1rem 2rem 1rem 1rem;
        cursor: pointer;
        @media only screen and (max-width: v.$bp-medium) {
            display: flex;
            position: fixed;
            z-index: 1;
        }
        svg {
            width: 3rem;
            color: v.$primary;
            margin-right: 1rem;
        }
    }
}