$primary: #24CBEE;
$gray: #7E8CA0;
$light-gray: #C7D2DD;
$dark-bg: #194558;
$bg-primary: #1D2739;
<<<<<<< HEAD
$bg-secondary: #334155;
$border-color: #475569;
=======

>>>>>>> 1a22be29510cbf67b90e283b7dbcdbc8d5178080
