$primary: #24CBEE;
$gray: #7E8CA0;
$light-gray: #C7D2DD;
$dark-bg: #194558;
$bg-primary: #1D2739;
$bg-secondary: #334155;
$border-color: #475569;
$destacado: #EBAD0A;
$light-green: #196541;
$texto-opaco: #8E939C;
$bg-arrowButton: #0C121B;
$yellow: #FACC15;
$primary-dark: #3A85F6;
$green: #22C55E;
$morado: #BF83FA;
$specBorder: #155E74;
$specBg: #1B384B;
$specBgicon: #175065;

$bp-extraLarge: 75em;
$bp-large: 62em;
$bp-medium: 48em;
$bp-small: 36em;
$bp-extraSmall: 26.25em;
$bp-micro: 23.75em;

