.nav {
    background-color: #1D2739;
    padding-top: 1rem;
    padding-bottom: 1rem;
    &__contenedor {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__logo {
            display: flex;
            align-items: center;
            &__iconBox {
                background-color: #24CBEE;
                font-size: 2rem;
                color: white;
                padding: .5rem;
                border-radius: 1rem;
                display: flex;
                justify-self: center;
                align-items: center;
                svg {
                    width: 2.2rem;
                    height: 2.2rem;
                }
            }
            &__text {
                display: flex;
                flex-direction: column;
                &--marca {
                    color: #23CEEE;
                    font-size: 1.8rem;
                    font-weight: 600;
                    margin-bottom: .5rem;
                }
                &--descri {
                    color: #7E8CA0;
                    font-size: 1.2rem;
                }
            }
        }
        &__menu {
            display: flex;
            &--link {
                color: #C7D2DD;
                display: flex;
                align-items: center;
                font-size: 1.5rem;
                font-weight: 600;
                // background-color: #194558;
                padding: .8rem 1.5rem;
                margin-right: 3rem;
                border-radius: .8rem;
                svg {
                    width: 1.6rem;
                    margin-right: .7rem;
                }
                &.active {
                    background-color: #194558;
                    color: #23CEEE;
                }
                
            }
        }
        &__user {
            display: flex;
            align-items: center;
            &__userData {
                display: flex;
                flex-direction: column;
                span {
                    &:nth-child(1) {
                        color: white;
                        font-size: 1.6rem;
                        font-weight: 600;
                        margin-bottom: .5rem;
                    }
                    &:last-child {
                        color: #7E8CA0;
                        font-size: 1.2rem;
                        text-align: right;
                    }
                }
            }
            &__sesion {
                svg {
                    width: 1.8rem;
                    color: rgba(#fff, .6);
                    // rbga(255,255,255,0.6)
                }
            }
        }
    }
}